# Acessos site
Nessa fonte de dados encontramos as seguintes colunas referente as páginas de um site, onde 1 indica que o usuário acessou e 0 não:

- principal (home);
- how it works: que explica o funcionamento do site;
- contact: para entrar em contato.

Além disso temos a coluna bought que indica se esse usuário comprou o produto (1) ou não (0).

## Lendo minha fonte de dados

In [ ]:
import pandas as pd

In [ ]:
uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)

In [ ]:
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

## Separando colunas

In [ ]:
x = dados[["home","how_it_works",'contact']]

In [ ]:
y = dados[['bought']]

In [ ]:
dados.shape

(99, 4)

## Algoritmo

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

seed = 20

train_x, test_x, train_y, test_y = train_test_split(x, y,
                                                    random_state = seed,
                                                    test_size = 0.25,
                                                    stratify = y)

model = LinearSVC()

model.fit(train_x, train_y)

previsoes = model.predict(test_x)
acuracia = accuracy_score(test_y, previsoes)

print("A acurária foi %.2f%%" % (acuracia*100))

A acurária foi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
train_y.value_counts()

bought
0         49
1         25
dtype: int64

In [ ]:
test_y.value_counts()

bought
0         17
1          8
dtype: int64